@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-pulse {
  animation: blue-pulse 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes blue-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.yellow-pulse {
  animation: yellow-pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes yellow-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.orange-pulse {
    animation: orange-pulse 0.9s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  
  @keyframes orange-pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }
